
:root{
    --color-primary: red;

    --font-xx-large: 3rem;
    --font-x-small: 2rem;

    --body-padding: 4rem;
}

html{
    font-size: 67%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


body{
    margin: 1rem;
    padding: 0;
    width: 100%;
    /* color: var(--color-primary); */
    font-family:  monospace;
    position: relative;

}


@media screen and (max-width: 767px) {
    html{
        font-size: 47%;
    }
    body{
        height: auto;
    }
}